---
import iconsJSON from '../customizations/socialicons.json';
import type SocialIcons from '../types/socialicons';

interface Props {
  iconName?: string;
  url?: string;
  class?: string;
}

const { iconName = '', url = '', class: className = '' } = Astro.props;

const icons: SocialIcons = iconsJSON;

if (!Object.prototype.hasOwnProperty.call(icons, iconName)) {
  throw new Error(
    `${iconName} is not a valid key. Valid keys are: ${Object.keys(icons).join(', ')}`,
  );
}

const iconPath = icons[iconName as keyof SocialIcons];
---

<a href={url} class={className} target="_blank" rel="noopener noreferrer">
  <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
    <path d={iconPath} fill-rule="evenodd" clip-rule="evenodd" />
  </svg>
  <span class="sr-only">{iconName}</span>
</a>
